# Call the Google Directions API

In [24]:
import requests
import json
import pandas as pd
import time
import datetime


API_KEY = 'AIzaSyCgODbmkWDsD9E2p1eroNZ9Z-r935Tk0YY'
mode = 'transit' # [DRIVING, WALKING, BICYCLING, TRANSIT (transit_mode: [bus, subway, train, tram, rail==train|tram|subway])]
origin = 'Edinburgh'
destination = 'Paris'
arrival_time = '01/12/2021'
arrival_time_unix = int(time.mktime(datetime.datetime.strptime(arrival_time, "%d/%m/%Y").timetuple()))

url = f'https://maps.googleapis.com/maps/api/directions/json?origin={origin}&destination={destination}&mode={mode}&key={API_KEY}&arrival_time={arrival_time_unix}'

payload={}
headers = {}

response = requests.request("GET", url, headers=headers, data=payload)

response = json.loads(response.text)

df = pd.DataFrame(columns=['vehicle', 'distance'])

steps = response['routes'][0]['legs'][0]['steps']
for step in steps:
    distance = step['distance']['value'] / 1000
    travel_mode = step['travel_mode']

    if travel_mode == 'TRANSIT':
        vehicle = step['transit_details']['line']['vehicle']['type']
    else:   
        vehicle = travel_mode

    df = df.append({'vehicle': vehicle, 'distance': distance}, ignore_index=True)

In [25]:
#with open('response.json', 'w', encoding='utf-8') as f:
#    json.dump(response, f, ensure_ascii=False, indent=4)

In [26]:
df

      vehicle  distance
0  HEAVY_RAIL   631.614
1     WALKING     0.310
2  HEAVY_RAIL   450.761

In [27]:
co2e = pd.DataFrame([['DRIVING', 0.1276],
                     ['WALKING', 0],
                     ['BICYCLING', 0],
                     ['RAIL', 0.06],
                     ['METRO_RAIL', 0.06],
                     ['SUBWAY', 0.06],
                     ['TRAM', 0.06],
                     ['MONORAIL', 0.06],
                     ['HEAVY_RAIL', 0.06],
                     ['COMMUTER_TRAIN', 0.06],
                     ['HIGH_SPEED_TRAIN', 0.06],
                     ['METRO_RAIL', 0.06],
                     ['BUS', 0.089],
                     ['INTERCITY_BUS', 0.089],
                     ['TROLLEYBUS', 0.089],
                     ['SHARE_TAXI', 0.064],
                     ['FERRY', 0.019],
                     ['CABLE_CAR', 0],
                     ['GONDOLA_LIFT', 0],
                     ['FUNICULAR', 0],
                     ['OTHER', 0]
                     ], 
                     columns=['vehicle', 'emission'])

In [28]:
joined = df.merge(co2e, on='vehicle')

In [29]:
joined

      vehicle  distance  emission
0  HEAVY_RAIL   631.614      0.06
1  HEAVY_RAIL   450.761      0.06
2     WALKING     0.310      0.00

In [30]:
joined['total_emission'] = joined['distance']*joined['emission']

In [31]:
joined['total_emission']

0    37.89684
1    27.04566
2     0.00000
Name: total_emission, dtype: float64